on early-init
    start ueventd

on init
    export PATH /sbin
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

    symlink /system/etc /etc

    mkdir /sdcard
    mkdir /system
    mkdir /data
    mkdir /cache
    mount /tmp /tmp tmpfs
    symlink /sbin/  /system/bin
    symlink /sbin/busybox /sbin/sh
on boot

    ifup lo
    hostname localhost
    domainname localdomain

    class_start default

service ueventd /sbin/ueventd
    critical

#ZTE_BOOT_HUANGYANJUN_20101216_01, start
service console /sbin/busybox ash
    console
#ZTE_BOOT_HUANGYANJUN_20101216_01, end

service usbconfig /sbin/usbconfig
    oneshot

service recovery /sbin/recovery

#liushoubin test
service diagtest /sbin/diagftmtest
    user root
    group radio cache inet misc audio qcom_oncrpc diag

service adbd /sbin/adbd recovery
    disabled

on property:persist.service.adb.enable=1
    start adbd

on property:persist.service.adb.enable=0
    stop adbd
